<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ROKU | Accessibility Research </title>

  <link rel="stylesheet" href="css/main.css">

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
  <main id="app">
	<div class="container-fluid">
		<div class="row">
			<header class="col-sm-12 fixed-top">
				
				<img src="images/flashback-logo.svg" alt="Roku logo" width="90">
				<nav class="float-right">
				<ul>    
					<li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
					<li v-if="administrator"><i class="fas fa-cog"></i></li>
					<li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>					
				</ul>
				</nav>
			</header>
		</div>
	</div> 
	
	<div class="contentGallery">
	<div class="mediaCont">

		<h1>ROKU Accessibility Research</h1>
		<div class="kidsMovies">
			<h1>Movies</h1>
			<a href="movies.html">
			<img src="images/kidsmovies.svg" alt="kids movies">
			</a>
		</div>

		<div class="kidsShows">
			<h1>Shows</h1>
			<a href="shows.html">
			<img src="images/kidsshows.svg" alt="kids shows">
			</a>
		</div>
		<div class="kidsMusic">
			<h1>Music</h1>
			<a href="music.html">
			<img src="images/kidsmusic.svg" alt="kids music">
			</a>
		</div>
	</div>
	</div>


	</main>

	<footer>
		<p class="copy">
			&copy; 2020 Roku Research
		</p>

	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>


	<script type="module" src="js/main.js"></script>
	
</body>
</html>