<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <title>Video with Vue</title>
</head>

<body>
  <main id="app">
    <header class="col-sm-12 fixed-top">
      <a>
      <img src="images/flashback-logo.svg" alt="Roku logo" href="/index.html">
      </a>
      <nav class="float-right">
      <ul>
  
        <li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
        <li v-if="administrator"><i class="fas fa-cog"></i></li>
        <li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>					
      </ul>
      </nav>
    </header>
    </section>

    <div class="content-gallery">
    <h1>Movies</h1>

    <ul class="video-poster-wrapper">
      <li v-for="movie in videodata">
        <a :href="movie.vidsource" @click.prevent="showMovieDetails(movie)">
          <img class="poster" :src="'images/' + movie.thumb" alt="movie poster">
        </a>
      </li>
    </ul>
   
      
      </li>
    </ul>

  </div>
    <div class="up-arrow"><span>^</span></div>
  </main>

  <footer>
    <p>All content &copy; 2020 Roku Flashback Concept</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script defer src="js/main.js"></script>
  <script defer src="js/video.js"></script>
</body>

</html>