

img {
 cursor: pointer;
}

header img {
    width: 200px;
}

header{
    padding: 10px;
}

.mediaCont {
    text-align: center;
    margin-top: 50px;
 }
 
 .kidsMovies {
     display: inline-block;
     padding: 10px;
     width: 150px;
 }
 
 .kidsShows {
     display: inline-block;
     padding: 10px;
     width: 150px;
 }
 
 .kidsMusic {
     display: inline-block;
     padding: 10px;
     width: 150px;
 }